*{
    font-family: 'Outfit', sans-serif;
    margin:0px;
    padding:0px;
}
/* body{
    background-image: url("/media/home-blur.png");
    background-repeat: no-repeat;
    width:100%;
    object-fit: cover;

} */


/*Nav Bar Socials*/
.top-nav-socials{
    position: absolute;
    top: 1px;
    left:0px;
    width:100%;
    background: #AC3240;
    margin-top:0px;
    padding-top:0px;
    background-color: #AC3240;
    height:40px;
}

/*List Items*/
.top-nav-socials li{
    padding-right: 25px;
    padding-top:5px;
    color:white;
    text-decoration: underline;
}

/*icon class white*/
.white{
    color:white;
}

.black{
    color:black;
}

/*Main Nav Bar*/
.navbar-brand a{
    list-style: none;
    color:black;
}

#main-nav{
    margin-top:20px;
}


#nav-connect{
    background-color: #AC3240;
    color:white;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 25px;
}

.align{
    margin-top:20px;
    padding-right:20px;
    display: flex;
    justify-content: end;
}

/*Right aligns the three main nav bars -Gets them to float right*/
.right-align{
    display: flex;
    justify-content: end;
}


/*Home page Main Section*/
.bg{
    z-index: -1;
    position: fixed; 
    top: 0; 
    left: 0; 
    object-fit: cover;
      
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

/*Home page Main Section on top of the bg image*/
.home-section1{
    margin-top:30px;
    margin-left:10%;
}

.home-section1 h3{
    color: #AC3240;
    font-weight: bold;
    font-size:15px;
    letter-spacing: -1px;
}

.home-section1 h1{
    width:50%;
    text-shadow: 1px 1px #131313;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 56.6399px;
    line-height: 71px;
    color: #1D1D1D;
}

.home-section1 p{
    margin-top:40px;
    width:40%;
}

.home-section1 a{
    text-decoration: none;
    font-weight: bolder;
    background-color: #AC3240;
    color:white !important;
    padding-left:30px;
    padding-right:30px;
    padding-top:12px;
    padding-bottom:12px;
    border-radius: 10px;
    margin-top: 40px !important;
}
